<div class="container"> 


<img src="/assets/me.jpg" width="1000" />

  <h3> His Story </h3>
    <p> Hello, my name is Malek Masri and I am first generation Lebanese-American.I Was born in Arlington, Texas and am the youngest of the three boys in my househould. I lived the first 21 years of my life in the suburbs of Arlington. I had confidence and my abilities both mental and physical, however living in a very conservative muslim househould, led me to have a deeply routed social insecurity. I couldn't have the relationships with females that my friends had nor could I develop bonding experiences with my friends such as sleepovers or long trips together due to social constraints in my household. As a consequence I became emersed in alternate realities that video games provided me. An escape of the sexual and social frustration that was stemming from my insecurity.</p>
<h5> His Struggle </h5>    
  <p> After dropping out of the University of Texas in Arlington in October of 2014 and moving to Denver,Colorado, the first chapter of my life had finally ended. "A new state, a new person" I told myself. However, the only immediate source of income that was bestowed upon me was a factory job working roughly 60 hour work weeks. The shifts were brutal starting as early as 4:30 am and not ending til rushour traffic began. Adding a total of 2 hours commute to each day of work. These external stressed made it very easy for me to rapidly fall back into my comfort zones when I was home. I was back at it, playing video games until I needed to sleep, sleeping until I needed to work and then going right back to video games as soon as I was able.   </p>

</div>
