<div class="container"> 

  <h3> His Story </h3>
    <p> Hello my name is Malek Masri and I am a first generation Lebanese American. I am the youngest child of three boys and was raised in a conservative muslim household. I am above average in athleticism, but realized I was nothing special shortly after entering the high school football program my freshman year. Highschool was nothing but a lot of insecurity stemming from my parents outrageous househould rules which stunted the growth of my social life tremendously. I attended the University of Texas in Arlington for two years after I graduated highschool, but dropped out before attaining any kind of degree.</p>

  <h3>Life After Texas</h3>
    <p> Immediately upon dropping out of </p>
</div>
